.hero {
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;

  .logo {
    width: 300px;
    margin: 0 auto;

    @media screen and (min-width: 1000px) {
      width: 100%;
    }
  }

  &__body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    width: 75%;

    @media screen and (min-width: 1000px) {
      width: 600px;
    }

    h2 {
      color: #fff;
      text-align: center;
      font-weight: 700;
      margin-bottom: 20px;
      font-size: 1.6rem;
      line-height: 1;
      margin-top: 10px;

      @media screen and (min-width: 1000px) {
        font-size: 2rem;
      }
    }

    h3 {
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 1rem !important;
      margin-top: 0;
      margin-bottom: 10px;

      @media screen and (min-width: 1000px) {
        // width: 600px;
        // height: 800px;
        font-size: 2.5rem;
      }
    }

    h4 {
      margin: 0;
      font-weight: 300;
      font-size: 1rem;

      @media screen and (min-width: 1000px) {
        font-size: 1.2rem;
      }
    }

    .keydates-center {
      text-align: center;
      align-items: center;
      display: flex;
      justify-content: space-evenly;
      margin-top: 30px;

      .date {
        width: 200px;
        font-weight: 700;
        padding-left: 10px;
        padding-right: 10px;
      }

      .middle {
        border-right: 1px dashed white;
        border-left: 1px dashed white;
      }

      .white-date {
        color: white;
        font-weight: 700;
      }

      .white-title {
        color: white;
        font-weight: 700px;
      }
    }
  }

  &__logo {
    width: 80%;
    margin: 0 auto;

    @media screen and (min-width: 1000px) {
      width: 100%;
    }
  }

  canvas {
    animation: fadegrowenter 1s;
  }

  .instruct {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 120px;
    display: flex;
    flex-direction: column;
    z-index: 20;
    cursor: pointer;
    transition: opacity 0.7s ease;
    width: 140px;

    @media screen and (min-width: 1000px) {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      height: 60px;
      display: flex;
      flex-direction: column;
      z-index: 20;
      cursor: pointer;
      transition: opacity 0.7s ease;
      width: 140px;
    }

    .arrow {
      width: 34px;
      height: 20px;
      position: absolute;
      margin: 0 auto;
      top: 20px;
      left: 50%;
      margin-left: -17px;
      animation: bounce infinite;
      animation-duration: 1s;
      transition: animation-duration 0.3s ease;

      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        transform: rotateZ(45deg);
      }

      &::after {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        right: 0;
        transform: rotateZ(-45deg);
      }
    }

    .text {
      color: #fff;
      text-transform: uppercase;
      font-weight: 200;
      font-size: 12px;
      letter-spacing: 1px;
      transition: letter-spacing 0.3s ease;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
    }

    &:hover {
      .text {
        letter-spacing: 2px;
      }

      .arrow {
        animation-duration: 2;
      }
    }
  }
}

@keyframes fadegrowenter {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    top: 10px;
  }

  50% {
    top: 0;
  }

  100% {
    top: 10px;
  }
}
