.archive-sponsors-data {
  .archive-sponsor-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;

    a {
      text-decoration: none;
      width: calc((100% / 4) - 25px);
      margin-right: 25px;
      display: flex;
      flex-direction: column;

      &:nth-child(4n) {
        margin-right: 0;
      }

      @media screen and (max-width: 800px) {
        width: calc((100% / 2) - 25px);
      }

      img {
        width: 100%;
        height: auto;
        margin-bottom: auto;
      }

      h4 {
        text-decoration: none;
        text-align: center;
      }
    }
  }

  #modal-content {
    img {
      margin-top: 80px;
    }

    a {
      color: #fff;
      margin: 10px 0;
      display: block;
    }
  }

  .footer-sponsors {
    display: none;
  }
}
