body {
  margin: 0;
  font-family: myriad-pro, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .wrap {
    height: 100%;
    flex: 1;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

main {
  overflow: auto;
}

html {
  height: 100%;
}
